/* small phones: from 0 to 480px */
/* small phones to small tablets from 481 to 767px */
/* small tablets to big tablets from 768 to 1023px */
/* big tablets to 1200px */
/* small phones: from 0 to 480px */
/* small phones to small tablets from 481 to 767px */
/* small tablets to big tablets from 768 to 1023px */
/* big tablets to 1200px */
@font-face { font-family: 'Gotham Rounded'; src: url(../vendor/GothamRounded-Bold.otf); }

@font-face { font-family: 'Gotham Rounded Light'; src: url(../vendor/GothamRounded-Light.otf); }

@font-face { font-family: 'Gotham Rounded Book'; src: url(../vendor/GothamRounded-Book.otf); }

html { font-size: 62.5%; }

body { margin: 0 auto; max-width: 120rem; font-family: Gotham Rounded; box-sizing: border-box; }

*, *::after, *::before { margin: 0; padding: 0; box-sizing: inherit; }

.heading_primary { color: #fff; display: flex; flex-direction: column; text-align: center; }

.heading_primary--main { font-size: 3.6rem; font-weight: 700; text-transform: uppercase; letter-spacing: .54rem; margin-bottom: 1.5rem; }

@media (max-width: 576px) { .heading_primary--main { font-size: 1rem; } }

.heading_primary--sub { font-weight: 500; letter-spacing: .24rem; }

.header-icons { display: flex; flex-direction: row; justify-content: center; font-size: 2.2rem; padding-bottom: 2.6rem; padding-top: 20.5rem; color: #fff; }

.header-icons i { padding-right: 1.6rem; }

div { display: flex; justify-content: center; }

div .header_btn:link, div .header_btn:visited { text-align: center; text-transform: uppercase; border-radius: .3rem; text-decoration: none; color: #fff; border: #159f85; background-color: #159f85; margin-top: 2.6rem; cursor: pointer; padding: 1.5rem 4rem; width: 19.2rem; height: 5.1rem; font-size: 1.2rem; font-weight: 700; line-height: 2rem; letter-spacing: .18rem; display: inline-block; }

div .header_btn:hover { transform: translateY(-3px); box-shadow: 0 1rem 2rem rgba(204, 204, 204, 0.2); }

div .header_btn::after { transform: scaleX(1.4) scaleY(1.6); opacity: 0; }

div .header_btn:active, div .header_btn:focus { outline: none; transform: translateY(-1px); box-shadow: 0 0.5rem 1rem rgba(204, 204, 204, 0.2); }

header { background: no-repeat url("../images/background.png"); background-size: cover; height: 74.5rem; }

@media (max-width: 576px) { header { height: auto; } }

header ul { display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding-top: 4rem; margin-left: 24.1rem; margin-right: 24.1rem; font-size: 1.6rem; }

@media (max-width: 576px) { header ul { flex-direction: column; justify-content: center; } }

header ul li { display: inline-block; }

@media (max-width: 576px) { header ul li { padding-top: 1rem; font-size: 2.4rem; } }

header ul li a { color: #fff; font-weight: 700; text-transform: uppercase; letter-spacing: .24rem; text-decoration: none; }

header .header_text-box { padding-top: 24.7rem; }

@media (max-width: 576px) { header .header_text-box { padding-top: 10rem; } }

.second { background: no-repeat url("../images/second.png"); background-size: cover; width: 100%; height: 494px; }

.second div { flex-direction: column; display: flex; padding-top: 113px; padding-left: 129px; justify-content: space-between; align-content: space-between; }

.second div h1 { color: #159f85; font-size: 18px; font-weight: 700; text-transform: uppercase; letter-spacing: 2.7px; text-transform: uppercase; margin-bottom: 47px; }

.second div p { color: #373737; font-family: Gotham Rounded Book; font-size: 12px; font-weight: 400; line-height: 24px; letter-spacing: 1.8px; margin-bottom: 45px; margin-top: 0; }

.second div button { width: 192px; height: 51px; border-radius: 3px; background-color: #16a085; color: #fff; font-size: 12px; font-weight: 700; line-height: 20px; text-transform: uppercase; letter-spacing: 1.8px; border: #159f85; }

.third { background: #fff; width: 100%; height: 558px; display: flex; justify-content: flex-end; }

.third .image-relative { position: absolute; top: 1388px; left: 432px; z-index: -1; }

.third div { flex-direction: column; display: flex; justify-content: center; margin-right: 83px; }

.third div h1 { color: #159f85; font-size: 18px; font-weight: 700; text-transform: uppercase; letter-spacing: 2.7px; text-transform: uppercase; margin-bottom: 44px; }

.third div p { color: #373737; font-family: Gotham Rounded Book; font-size: 12px; font-weight: 400; line-height: 24px; letter-spacing: 1.8px; margin-top: 0; margin-bottom: 0; }

.third div button { width: 192px; height: 51px; border-radius: 3px; background-color: #16a085; color: #fff; font-size: 12px; font-weight: 700; line-height: 20px; text-transform: uppercase; letter-spacing: 1.8px; border: #159f85; margin-top: 42px; }

.fourth { background: no-repeat url("../images/Rettangolo_6.png"); width: 100%; height: 483px; display: flex; align-items: center; flex-direction: row; justify-content: center; }

.fourth div:nth-child(1) { display: flex; align-items: center; justify-content: center; flex-direction: column; padding-right: 82px; }

.fourth div:nth-child(1) h3 { color: #373737; font-size: 16px; font-weight: 700; line-height: 20px; text-transform: uppercase; letter-spacing: 2.4px; margin-top: 31px; margin-bottom: 0; }

.fourth div:nth-child(1) h4 { color: #373737; font-size: 10px; font-weight: 500; letter-spacing: 1.5px; text-align: center; margin-top: 24px; }

.fourth div:nth-child(2) { padding-right: 24px; }

.fifth { background: no-repeat url("../images/Livello_3.png"); width: 100%; height: 790px; display: flex; justify-content: center; align-items: center; flex-direction: column; }

.fifth h5 { color: #fff; font-size: 24px; font-weight: 700; text-transform: uppercase; letter-spacing: 3.6px; }

.fifth .email-input { display: flex; flex-direction: row; }

.fifth .email-input input { width: 280px; height: 60px; border-radius: 3px 0 0 3px; background-color: #ffffff; border: #fff; padding: 0; }

.fifth .email-input button { width: 63px; height: 60px; border-radius: 0 3px 3px 0; background-color: #16a085; border: #16a085; padding: 0; }

.fifth .email-input i { color: #fff; font-size: 20px; }

.fifth .email-input input::placeholder { color: #373737; font-size: 16px; font-weight: 500; text-transform: uppercase; letter-spacing: 2.4px; padding-left: 22px; }

.sixth { background: #f5f6f7; height: 396px; display: flex; flex-direction: column; justify-content: center; align-items: center; }

.sixth h1 { color: #373737; font-size: 20px; font-weight: 700; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 0; }

.sixth h2 { color: #373737; text-align: center; font-size: 12px; font-weight: 500; line-height: 22px; text-transform: uppercase; letter-spacing: 1.8px; margin-bottom: 0; margin-top: 16px; }

.sixth .buttons { display: flex; flex-direction: row; justify-content: center; margin-top: 47px; }

.sixth .buttons .store { width: 240px; height: 56px; border-radius: 3px 0 0 3px; background-color: #1abc9c; color: white; border: #1abc9c; font-size: 16px; font-weight: 700; text-transform: uppercase; letter-spacing: 2.4px; }

.sixth .buttons .icon-store { width: 56px; height: 56px; border-radius: 0 3px 3px 0; background-color: #16a085; border: #16a085; }

.sixth .buttons i { color: #fff; font-size: 24px; }

.sixth .buttons button:nth-child(2) { margin-right: 26px; }
