// COLORS //
$color-green: #159f85;
$color-green-light: #1ABC9C;
$color-white: #fff;
$color-black: #ccc;
$color-grey-light: #373737;
$color-grey-light-2: #495057;
$color-grey-bcg: #F5F6F7;

$color-grey-bcg-darker: #DCDDDE;


$bp-largest: 75rem; //1200px/16=75rem
$bp-large: 68.75rem ; //1100px/16= 68.75
$bp-small: 49.25rem; //788px/16px= 49.25;
$bp-smaller: 46.9rem; //751px/16px= 46.9;
$bp-mobile: 26.56rem; //425px/16px= 26.56;

$bp-hamburger: 33.43rem; //535px/16px=33.43