.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-white;
    height: 13.4rem;
}

@media only screen and (max-width: $bp-smaller) {
    .footer {
        justify-content: center;
        &_img {
        	display: none;
        }
    }  
}
