.gallery_container {
	background-color: $color-grey-bcg;
}


.gallery {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position: relative;
	padding: 12rem 0;

	&_text-box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		color: $color-grey-light;
		padding-right: 2rem;	

		.gallery_heading {			
			font-family: Gotham Rounded;
			font-size: 1.6rem;
			line-height: 1rem;
			text-transform: uppercase;
			letter-spacing: .24rem;
			margin-top: 2rem;
		}
		.gallery_paragraph {
			font-size: 1rem;
			font-family: Gotham Rounded Medium;
			letter-spacing: .15rem;
			text-align: center;
			margin-top: 1.3rem;
		}
	}

	&-img {
		display: flex;
		//flex-basis: 100%;
		//height: auto;
	}

	img:first-child {
		padding-right: 1rem;
	}

	.arrows {
		position: absolute;
		top: 9.5rem;
		right: 13rem;
	}
}

/* RESPONSIVNESS */

@media only screen and (max-width: $bp-large){
	.gallery {
		flex-direction: column;

		&_text-box {
			order: 2;
			
			padding-top: 5rem;
		}
		&-img {
			
			img {	
			}
		}
	}
}

@media only screen and (max-width: $bp-smaller){
	.gallery {
		flex-direction: column;

		&_text-box {
			
		}
		&-img {
			display: flex;
			flex-direction: column;

			img {
				max-width: 100%;

				height: auto;
				padding-right: 0;

			}				
		}
	}
}