.gallery {
	padding: 0 13rem;
	background-color: $color-grey-bcg;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 48.3rem;
	position: relative;

	&_text-box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		color: $color-grey-light;

		.gallery_heading {			
			font-family: Gotham Rounded;
			font-size: 1.6rem;
			line-height: 1rem;
			text-transform: uppercase;
			letter-spacing: .24rem;
			margin-top: 2rem;
		}
		.gallery_paragraph {
			font-size: 1rem;
			font-family: Gotham Rounded Medium;
			letter-spacing: .15rem;
			text-align: center;
			margin-top: 1.3rem;
		}
	}
	
	&-img {
		img:first-child {
			padding-right: 2.5rem;
		}
	}

//height: 24rem;
//width: 37rem;

	.arrows {
		position: absolute;
		top: 9.5rem;
		right: 13rem;
	}
}