.gallery_container {
	background-color: $color-grey-bcg;
}

.gallery {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position: relative;
	padding: 12rem 0;

	&_text-box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		color: $color-grey-light;
		padding-right: 2rem;

		.gallery_heading {			
			font-family: Gotham Rounded;
			font-size: 1.6rem;
			line-height: 1rem;
			text-transform: uppercase;
			letter-spacing: .24rem;
			margin-top: 2rem;
		}
		.gallery_paragraph {
			font-size: 1rem;
			font-family: Gotham Rounded Medium;
			letter-spacing: .15rem;
			text-align: center;
			margin-top: 1.3rem;
		}
	}

	img:first-child {
		padding-right: 1rem;
	}

	.arrows {
		position: absolute;
		top: 9.5rem;
		right: 13rem;
	}
}