.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background: no-repeat url("../images/background.png");
	background-size: cover;
	background-position: center bottom;
	height: 100vh;

	.burger-icon {
		background: url(../images/hamburger.png) no-repeat 100% center;
        height: 3.1rem;
        width: 4rem;
        cursor: pointer;

		position: absolute;
		right: 1rem;
		top: 1rem;

		padding-right: 1rem;
		padding-top: 1rem;
		display: none;
	}


	nav {
		display: flex;
		justify-content: center;
		padding-top: 4.2rem;

		ul {
			display: flex;
			flex-basis: 100rem;
			align-items: center;
			justify-content: space-between;

			li {
			display: flex;
			list-style: none;
				a {
					color: $color-white;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: .24rem;
					text-decoration: none;
					font-size: 1.6rem;
					font-family: Gotham Rounded;
				}
				a:hover {
					color: $color-green;
					transition: color .2s;
				}
			}
		}
	}

	&_icons {
		display: flex;
		justify-content: center;
		padding-bottom: 2rem;
		font-size: 2.2rem;
		color: $color-white;
		i {
			padding-right: 1.6rem;
		}
	}


	&_text-box {
		display: flex;
		justify-content: center;
		align-items: center;
	}

}

@media only screen and (max-width: $bp-large){
	.header {
		height: 85vh;
	}
}

@media only screen and (max-width: $bp-small){
	.header {
		height: 65vh;
	}
}


// HAMBURGER MENU
@media only screen and (max-width: $bp-hamburger){
	
	.header {
		height: 50vh;
		justify-content: center;
		.burger-icon {display: block;}

		&_icons {
			padding-top: 6rem;
		}

		nav {
		position: absolute;
		display: block;
		padding-top: 0;
		top: 1rem;
		right: 0;
			img {
				display: none;
			}
			ul {
				height: 0;
				overflow: hidden;	
			}
			ul.open {
				height: auto;
				margin-top: 3.1rem;
				margin-left: 13rem;
				padding-left: 1rem;
				border-radius: .4rem;
				
				background-color: $color-green;
				
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-end;				
			}

			li {
				padding-top: 1rem;
				padding-right: 1rem;				
			}
			li:last-child {
				padding-bottom: 1rem;
			}
		}
	}
}
