.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background: no-repeat url("../images/background.png");
	background-size: cover;
	background-position: center bottom;
	min-height: 100vh;

	nav {
		display: flex;
		justify-content: center;
		padding-top: 4.2rem;

		ul {
			display: flex;
			flex-basis: 100rem;
			align-items: center;
			justify-content: space-between;

			li {
			display: flex;
			list-style: none;
				a {
					color: $color-white;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: .24rem;
					text-decoration: none;
					font-size: 1.6rem;
					font-family: Gotham Rounded;
				}
				a:hover {
					color: $color-green;
					transition: color .2s;
				}
			}
		}
	}

	&_icons {
		display: flex;
		justify-content: center;
		padding-bottom: 2rem;
		font-size: 2.2rem;
		color: $color-white;
		i {
			padding-right: 1.6rem;
		}
	}


	&_text-box {
		display: flex;
		justify-content: center;
		align-items: center;
	}

}