.second_container {
	background-color: $color-grey-bcg;
}

.second {
	display: flex;
	justify-content: flex-start;

	position: relative;
	overflow: hidden;

	&_text-box {
		display: flex;
		padding-top: 11rem;	
	}

	&_img {
		position: absolute;
		right: 0;
		top: 9.4rem;
	}
}

@media only screen and (max-width: $bp-large){
	.second_text-box {
		flex-basis: 80%;
	}
}

@media only screen and (max-width: $bp-small){
	.second_img {
		padding-right: 1rem;
		opacity: 0.4;
	}
}

@media only screen and (max-width: $bp-smaller){
	.second {
		justify-content: center;
		align-items: center;

		&_img {
			display: none;
		}
		&_text-box {
			padding-top: 5rem;
		}
	}
}