.second_container {
	background-color: $color-grey-bcg;
}

.second {
	display: flex;
	justify-content: flex-start;

	position: relative;
	overflow: hidden;

	&_text-box {
		display: flex;
		padding-top: 11rem;	
	}

	&_img {
		position: absolute;
		right: 0;
		top: 9.4rem;
	}
}