.subscribe {
	background: no-repeat url("../images/Livello_3.png");
	height: 79rem;
	background-size: cover;
	min-height: 100vh;
	background-position: left center;
	
	//position bcg img in the centre, no margins
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&_heading {
		color: $color-white;
		font-size: 2.4rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: .4rem;
		margin-bottom: 2rem;
	}

	&_form {
		display: flex;
		flex-direction: row;
		input {
			width: 28rem;
			height: 6rem;
			border-radius: .3rem 0 0 .3rem;
			background-color: $color-white;
			border: $color-white;
		}
		a {
			width: 6.3rem;
			height: 6rem;
			border-radius: 0 .3rem .3rem 0;
			background-color: $color-green;
			border: $color-green;
			color: $color-white;
			font-size: 2rem;
			text-decoration: none;

			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
		
		input::placeholder {
			color: $color-grey-light-2;
			font-weight: 700;
			font-size: 1.6rem;
			text-transform: uppercase;
			letter-spacing: .22rem;
			padding-left: 2.2rem;
			line-height: 1.5rem;
		}
	}
}

