.btn {
    &,
    &:link,
    &:visited {
        text-align: center;
        text-transform: uppercase;
        border-radius: .3rem;
        text-decoration: none;
        border: none;
        margin-top: 3rem;
        cursor: pointer;
        padding: 2rem 3rem;
        font-size: 1.2rem;
        font-weight: 700;
        //line-height: 2rem;
        letter-spacing: .18rem;
        position: relative; // for absolute ::after  
        display: inline-block;
    }
    
    &--green {
        background-color: $color-green;
        color: $color-white;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            // btn grow up on hover
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%; // the same as btn
        width: 100%; // the same as btn

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; // behind the btn
        transition: all .4s;
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
}	