html {
    box-sizing: border-box;
    // This defines that 1rem is 16px
    font-size: 62.5%;

}

body {
    font-family: Gotham Rounded;
    line-height: 1.6;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.flex-container {
    max-width: 102.4rem;
    margin: 0 auto;
}


