.heading_primary {
	color: $color-white;
	text-align: center;
	&--main {
		display: block;				
		font-size: 3.6rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: .54rem; // 32*150/1000=y (150-PSD tracking)
		margin-bottom: 1.5rem;
	}
	&--sub {
		display: block;
		font-weight: 500;
		letter-spacing: .24rem;
		margin-bottom: 3rem;
	}
} // add animation to h1


.heading_secondary {
	&--main {
		display: block;
		color: $color-green;
		font-size: 1.8rem;
		text-transform: uppercase;
		letter-spacing: 0.25rem;
		text-transform: uppercase;
		margin-bottom: 3rem;
	}
	&--sub {
		display: block;
		color: $color-grey-light;
		font-family: Gotham Rounded Book;
		font-size: 1.2rem;
		font-weight: 400;
		line-height: 2.4rem;
		letter-spacing: 1.8px;
		margin-bottom: 3rem;
	}	
}

.heading_footer {
	color: $color-grey-light-2;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 2.2rem;
	letter-spacing: .18rem;
	//text-align: center;
	&--main {
		display: block;
		text-transform: uppercase;
	}
	&--sub {
		display: block;
	}
}


